/* stylesheet */
body {
    background-color: #222831;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.header{
    display: flex;
    justify-content: center;
}

.main{
    text-align: center;
    margin-top: 25px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 25px;
}

.btn-square{
    width: 150px;
    height: 150px;
}

.scores{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #ddd;
    font-size: 20px;
  }

  .fa-github {
    color: #ddd;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  #logo{
    width: 30px;
    height:30px;
  }